@using ClercSystem.ViewModels.MyDocuments;
@model IEnumerable<MyDocumentsViewModel>;


@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">
        @TempData["Message"]
    </div>
}

<h2>My Documents</h2> 

@if(User.IsInRole("Admin") || User.IsInRole("User"))
{
    <div class="d-flex justify-content-end mb-4">
        <a asp-controller="Document" asp-action="Create" class="btn btn-primary btn-lg">
            <i class="bi bi-plus-circle"></i> Add New Document
        </a>
    </div>
}   

<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Creator</th>
            <th scope="col">Category</th>
            <th scope="col">Department</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MyDocumentsViewModel doc in Model)
        {
            <tr>
                <td>@doc.Title</td>
                <td>@doc.Createdby</td>
                <td>@doc.CategoryName</td>
                <td>@doc.DepartmentName</td>
                <td class="text-center">
                    <a asp-controller="Document"  asp-action="More" asp-route-id="@doc.Id" class="btn btn-info btn-sm me-2">
                        <i class="bi bi-calendar-plus"></i> More
                    </a>
                    @if (User.IsInRole("Admin") || User.IsInRole("User"))
                    {
                        <a asp-controller="Document" asp-action="Edit" asp-route-id="@doc.Id" class="btn btn-info btn-sm me-2">
                            <i class="bi bi-calendar-plus"></i> Edit
                        </a>
                   
                        <form asp-controller="Document" asp-action="SoftDelete" asp-route-id="@doc.Id" method="post" class="d-inline">
                            <button type="submit" class="btn btn-info btn-sm me-2" onclick="return confirm('Сигурни ли сте, че искате да изтриете този документ?')">
                                <i class="bi bi-calendar-plus"></i> Delete
                            </button>
                        </form>

                        @* <a asp-controller="Document" asp-action="SoftDelete" asp-route-id="@doc.Id" class="btn btn-info btn-sm me-2">
                            <i class="bi bi-calendar-plus"></i> Delete
                        </a> *@
                    }
                </td>
            </tr>
        }
    </tbody>
</table>