@using ClercSystem.ViewModels.Document;
@model IEnumerable<AllDocumentsViewModel>;

@* @if (User?.Identity?.IsAuthenticated ?? false) // show only if user is logged in
{ *@
     <h2>Documents</h2> 
    @* @if (!string.IsNullOrEmpty(ViewBag.userId) && ViewBag.isUserManager)
    { *@
        <div class="d-flex justify-content-end mb-4">
            <a asp-action="Create" class="btn btn-primary btn-lg">
                <i class="bi bi-plus-circle"></i> Add New Document
            </a>
        </div>
@*     }
} *@

<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Creator</th>
            <th scope="col">Category</th>
            <th scope="col">Department</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (AllDocumentsViewModel doc in Model)
        {
            <tr>
                <td>@doc.Title</td>
                <td>@doc.Createdby</td>
                <td>@doc.CategoryName</td>
                <td>@doc.DepartmentName</td>
                <td class="text-center">
                    <a asp-action="ViewDetails" asp-route-id="@doc.Id" class="btn btn-info btn-sm me-2">
                        <i class="bi bi-calendar-plus"></i> View Details
                    </a>
                    <a asp-action="Edit" asp-route-id="@doc.Id" class="btn btn-info btn-sm me-2">
                        <i class="bi bi-calendar-plus"></i> Edit
                    </a>
                    <a asp-action="SoftDelete" asp-route-id="@doc.Id" class="btn btn-info btn-sm me-2">
                        <i class="bi bi-calendar-plus"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>